@media only screen and (min-width: 992px) {
    .main-menu ul > li {
      display: inline-block;
    }
  
    /* Submenu + megamenu*/
    .main-menu ul ul, .main-menu ul li .menu-wrapper {
      position: absolute;
      z-index: 1;
      visibility: hidden;
      left: 0;
      top: 100%;
      display: block;
      background: #fff;
      display: block;
      min-width: 190px;
      transform: scale(0.4);
      transform-origin: 10% top;
      transition: 0.15s linear, 0.1s opacity cubic-bezier(0.39, 0.575, 0.565, 1), 0.15s transform cubic-bezier(0.1, 1.26, 0.83, 1);
      -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.175);
      -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.175);
      box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.175);
      opacity: 0;
    }
  
    .main-menu ul ul {
      padding: 10px;
    }
  
    .main-menu ul li:hover > ul, .main-menu ul li:hover .menu-wrapper {
      visibility: visible;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  
    .main-menu ul .menu-wrapper ul {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      padding: 0;
      position: static;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  
    .main-menu ul ul li {
      display: block;
    }
  
    .main-menu ul ul li a {
      color: #444;
      display: block;
      padding: 8px 10px;
    }
  
    .main-menu ul ul li:hover > a {
      color: #004dda;
      background-color: #0044c2;
      background-color: rgba(0, 77, 218, 0.05);
    }
  
    /* Megamenu */
    .main-menu ul li.megamenu {
      position: static;
    }
  
    .main-menu ul li.megamenu .menu-wrapper {
      width: 1110px;
      left: 50%;
      margin-left: -555px;
      padding: 30px !important;
    }
  
    .main-menu ul li:hover.megamenu .menu-wrapper ul {
      visibility: visible;
      opacity: 1;
    }
  
    .main-menu ul .menu-wrapper h3 {
      font-size: 14px;
      font-size: 0.875rem;
      text-transform: uppercase;
      font-weight: bold;
      padding-left: 10px;
    }
  
    /* Submenu 3rd level */
    .main-menu ul ul ul {
      left: 100%;
      top: 0;
    }
  }